.products {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
  grid-template-columns: 1fr;
  row-gap: 10px;
  column-gap: 10px;
  padding-top: 1rem;
}

@media (min-width: 414px) {

  .products {
    grid-template-columns: 1fr 1fr;
  }
}